<div class="modal-overlay" (click)="onCerrar()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <!-- Header -->
    <div class="modal-header">
      <h2>Mi Perfil</h2>
      <button class="close-btn" (click)="onCerrar()">✖</button>
    </div>

    <!-- Body -->
    <div class="modal-body">
      <div class="avatar-section">
        <div class="avatar-circle">{{ usuario?.nombre?.charAt(0) || "?" }}</div>
        <h3>{{ usuario?.nombre || "No registrado" }}</h3>
        <span class="badge">{{ usuario?.rol || "No asignado" }}</span>
      </div>

      <hr />

      <!-- Botón de edición -->
      <div style="text-align: right; margin-bottom: 10px">
        <button *ngIf="!editando" class="btn-edit" (click)="habilitarEdicion()">
          ✎ Editar
        </button>
      </div>

      <form [formGroup]="perfilForm" class="info-grid">
        <!-- Editable -->
        <div class="info-item">
          <label>Nombre</label>
          <ng-container *ngIf="editando; else nombreTexto">
            <input formControlName="nombre" type="text" />
          </ng-container>
          <ng-template #nombreTexto>
            <span>{{ usuario?.nombre || "No registrado" }}</span>
          </ng-template>
        </div>

        <div class="info-item">
          <label>Carrera</label>
          <ng-container *ngIf="editando; else carreraTexto">
            <input formControlName="carrera" type="text" />
          </ng-container>
          <ng-template #carreraTexto>
            <span>{{ usuario?.carrera || "No registrada" }}</span>
          </ng-template>
        </div>

        <div class="info-item">
          <label>Teléfono</label>
          <ng-container *ngIf="editando; else telefonoTexto">
            <input formControlName="telefono" type="text" />
          </ng-container>
          <ng-template #telefonoTexto>
            <span>{{ usuario?.telefono || "No registrado" }}</span>
          </ng-template>
        </div>

        <!-- Solo lectura -->
        <div class="info-item">
          <label>Email</label>
          <span>{{ usuario?.email || "No registrado" }}</span>
        </div>
        <div class="info-item">
          <label>RUT</label>
          <ng-container *ngIf="editando; else rutTexto">
            <input formControlName="rut" type="text" />
          </ng-container>
          <ng-template #rutTexto>
            <span>{{ usuario?.rut || "No registrado" }}</span>
          </ng-template>
        </div>

        <div class="info-item">
          <label>Rol</label>
          <span>{{ usuario?.rol || "No asignado" }}</span>
        </div>
      </form>
    </div>

    <!-- Footer -->
    <div class="modal-footer">
      <button
        *ngIf="editando"
        class="btn-primary"
        (click)="onGuardar()"
        [disabled]="perfilForm.invalid"
      >
        Guardar
      </button>
      <button class="btn-secondary" (click)="onCerrar()">Cerrar</button>
    </div>
  </div>
</div>
